<nav class="navbar navbar-expand-lg  navbar-dark"
     style="background: linear-gradient(to right, #ff6e7f, #bfe9ff);padding: 30px 0;"
     xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index" style="font-size: 30px;">
                <!--                тази картинка не се вижда нзм защо-->
                <img src="images/recreational-removebg-preview.png" alt="" width="80" height="40">ActiveRazgrad
            </a>
        </div>
        <ul class="nav nav-pills nav-fill justify-content-center mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/index">Начало</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" href="/users/all">Потребители</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-weight-bold" data-bs-toggle="dropdown" href="#" role="button"
                   aria-expanded="false">Организации</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/users/all-communityUsers">Списък</a></li>
                    <li><a class="dropdown-item" href="/users/addRoleCommunity">Регистрирай Организация</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-weight-bold" data-bs-toggle="dropdown" href="#" role="button"
                   aria-expanded="false">Събития</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/activity/list">Всички събития</a></li>
                    <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'') or hasRole(''ROLE_COMMUNITY'')')}" ><a class="dropdown-item" href="/activity/add">Добави събитие</a></li>
                    <!--                        само за админ и организации да се ограничи -->
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <th:block th:if="${#authorization.expression('isAnonymous()')}">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle font-weight-bold " style="color:#ff6e7f;" href="#"
                       id="registerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="fas fa-user"></span> Регистрация
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="registerDropdown">
                        <li><a class="dropdown-item" href="/users/addRoleUser">За потребители</a></li>
                        <li><a class="dropdown-item" href="/users/addRoleCommunity">За организации</a></li>
                    </ul>
                </li>
                <li class="nav-item" th:unless="${#authorization.expression('isAuthenticated()')}">
                    <form th:action="@{/login}" class="nav-link">
                        <button type="submit" class="btn btn-link" style="color:#ff6e7f;"><span
                                class="fas fa-sign-in-alt"></span> Вход
                        </button>
                    </form>
                </li>
            </th:block>
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <li class="nav-item">
                    <a th:class="nav-link" th:href="@{/user-profile}">
                    <span th:inline="text" class="fas fa-sign-out-alt text-primary-emphasis">Logged in as <span
                            th:text="${#authentication.getPrincipal().getFirstName()}"></span></span></a>
                </li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-link" style="color:#ff6e7f;"><span
                                class="fas fa-sign-out-alt"></span> Изход
                        </button>
                    </form>
                </li>
            </th:block>
        </ul>

    </div>
</nav>